<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:replace="layout :: maincontent(content=~{::section}, title='List of Allocations', links=~{::link}, scripts=~{::header_script})">

<head>
	<!-- jQuery -->
    <script th:fragment="header_script" src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
    <!-- Bootstrap Datepicker -->
    <script th:fragment="header_script" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<!-- Datatable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
	<script th:fragment="header_script" type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
	<!-- FontAwesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>
<body>
<section>
	<div th:if="${success != null}" class="alert alert-success" th:text="${success}"></div>
    <div th:if="${exception != null}" class="alert alert-danger" th:text="${exception}"></div>
	<a class="btn btn-primary float-right" th:href="@{/allocations?form&projectId={id}(id=${projectIdFilter})}">
		Add Allocation
	</a>
	<h3>Allocations</h3>
	<br>

	<div class="scrollable-app-container">
		<div class="app-content">
			<div class="form-row">
				<!-- Left side: Filter form -->
				<form action="#" th:action="@{/allocations}" class="col-md-6" method="get">
					<h5>Allocation Filter</h5>
					<br>
					<div class="form-row">
						<div class="form-group row col-md-12">
							<label for="projectManager" class="col-md-3" style="margin: auto;">Project</label>
							<div class="col-md-9">
								<select id="projectManager" class="form-control" name="projectId" th:value="${projectIdFilter}">
									<option th:each="project: ${projects}"
											th:value="${project.id}" th:text="${project.name}"
											th:selected="${project.id} == ${projectIdFilter} ? true : false">
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group row col-md-12">
							<div class="col-md-6">
								<label for="filterFromDate" class="sr-only">From Date</label>
								<input name="fromDate" type="text" class="form-control" placeholder="From Date" id="filterFromDate" th:value="${fromDateFilter}" th:errorclas="fieldError" autocomplete="off"/>
							</div>

							<div class="col-md-6">
								<label for="filterEndDate" class="sr-only">End Date</label>
								<input name="toDate" type="text" class="form-control" placeholder="End Date" id="filterEndDate" th:value="${toDateFilter}" th:errorclas="fieldError" autocomplete="off"/>
							</div>
						</div>
					</div>
					<div class="form-row button-row" style="margin-top: 0">
						<button type="submit" class="btn btn-secondary">Filter</button>
					</div>
				</form>

				<!-- Right side: Project information -->
				<div class="col-md-6">
					<h5>Project Information</h5>
					<br>
					<div th:if="${selectedProject}" class="form-row">
						<div class="form-group row col-md-12">
							<label for="projectFte" class="col-md-3">Total FTEs (%)</label>
							<input name="projectFte" type="text" class="col-md-3 form-control" id="projectFte" th:value="${selectedProject.ftePercentage}" th:readonly="true"/>
							<label for="projectAssignedFte" class="col-md-3">Assigned FTEs (%)</label>
							<input name="projectAssignedFte" type="text" class="col-md-3 form-control" id="projectAssignedFte" th:value="${selectedProjectAssignedFtes}" th:readonly="true"/>
						</div>
						<div class="form-group row col-md-12">
							<label for="projectStartDate" class="col-md-3">Start Date</label>
							<input name="projectStartDate" type="text" class="col-md-3 form-control" id="projectStartDate" th:value="${#dates.format(selectedProject.startDate, 'dd.MM.yyyy')}" th:readonly="true"/>
							<label for="projectEndDate" class="col-md-3">End Date</label>
							<input name="projectEndDate" type="text" class="col-md-3 form-control" id="projectEndDate" th:value="${#dates.format(selectedProject.startDate, 'dd.MM.yyyy')}" th:readonly="true"/>
						</div>
					</div>
				</div>
			</div>


			<!-- Allocation List -->
			<br>
			<div th:fragment="allocations">
				<div th:if="${allocations.isEmpty()}">
					<br>
					<h2 style="text-align: center">No Allocations found</h2>
				</div>

				<div th:unless="${allocations.isEmpty()}" style="padding-top: 10px;">
					<table id="allocation-table" class="table table-condensed table-hover">
						<thead>
						<tr>
							<th>ID</th>
							<th>Employee</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Pensum</th>
							<th>Project</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="allocation : ${allocations}">
							<td style="vertical-align: middle;">
								<a th:href="@{allocations/} + ${allocation.id}" th:text="${allocation.id}"/>
							</td>
							<td>
								<div class="input-group">
									<div th:text="${allocation.contract.employee}"></div>
									<span sec:authorize="hasAuthority('ADMINISTRATOR')" style="margin-right: -26px; margin-top: -5px; padding-left: 15px; font-size: 20px;">
										<a th:href="@{/employees/} + ${allocation.contract.employee.id}"><i class="fa fa-eye"></i></a>
									</span>
								</div>
							</td>
							<td colspan="1" style="vertical-align: middle;" th:text="${#dates.format(allocation.startDate, 'dd.MM.yyyy')}" ></td>
							<td colspan="1" style="vertical-align: middle;" th:text="${#dates.format(allocation.endDate, 'dd.MM.yyyy')}" ></td>
							<td colspan="1" style="vertical-align: middle;" th:text="${allocation.pensumPercentage} + '%'" ></td>
							<td colspan="1" style="vertical-align: middle;" th:text="${allocation.project.name}" ></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script>
		// datepicker
		// requires jQuery
		// requires datepicker
		$(document).ready(function(){
			var startDateInput=$('input[name="fromDate"]');
			var startDateOptions={
				format: 'dd.mm.yyyy',
				todayHighlight: true,
				autoclose: true
			};
			startDateInput.datepicker(startDateOptions);

			var endDateInput=$('input[name="toDate"]');
			var endDateOptions={
				format: 'dd.mm.yyyy',
				todayHighlight: true,
				autoclose: true
			};
			endDateInput.datepicker(endDateOptions);
		});

		// requires jQuery
		// requires datatables
		$(document).ready(function() {
			$('#allocation-table').DataTable({
				scrollY: '55vh'
			});
		});
	</script>
</section>
</body>
</html>