<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: maincontent(content=~{::section}, title='Update Project', links=~{::link}, scripts=~{::header_script})">

<head>
    <!-- jQuery -->
    <script th:fragment="header_script" src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
    <!-- Bootstrap Datepicker -->
    <script th:fragment="header_script" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>

<body>
<section>
    <div th:if="${exception != null}" class="alert alert-danger" th:text="${exception}"></div>
    <div th:if="${success != null}" class="alert alert-success" th:text="${success}"></div>
    <h2>Update Allocation</h2>
    <br>

    <div class="scrollable-app-container">
        <form class="row app-content" th:action="@{/allocations/} + ${allocation.id}" th:object="${allocation}" th:method="put">
            <!-- Left side: Allocation Form -->
            <div class="col-md-4">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="employee">Developer</label>
                        <select id="employee" name="employeeId" class="form-control" th:value="${employeeId}">
                            <option th:each="developer: ${developers}"
                                    th:value="${developer.id}"
                                    th:text="${developer}"
                                    th:selected="${developer.id} == ${allocation.contract.employee.id} ? true : false">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="startDate">Start Date</label>
                        <input type="text" class="form-control" id="startDate" name="startDate" th:field="*{startDate}" th:errorclas="fieldError" autocomplete="off"/>
                        <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="fieldErrorText"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="endDate">End Date</label>
                        <input type="text" class="form-control" id="endDate" name="endDate" th:field="*{endDate}" th:errorclas="fieldError" autocomplete="off"/>
                        <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="fieldErrorText"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="pensum">Pensum Percentage</label>
                        <input type="text" class="form-control" id="pensum" th:field="*{pensumPercentage}" th:errorclas="fieldError"/>
                        <span th:if="${#fields.hasErrors('pensumPercentage')}" th:errors="*{pensumPercentage}" class="fieldErrorText"></span>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-row button-row">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button id="delete-btn" type="button" class="btn btn-danger" onclick="deleteRequest()">Delete</button>
                </div>
            </div>

            <!-- Right side: Project Information -->
            <div class="col-md-7 vertical-line">
                <h5>Project Information</h5>
                <br>
                <div class="form-group row col-md-12">
                    <label for="project" class="col-md-3">Project</label>
                    <input type="text" class="col-md-9 form-control" id="project" th:value="*{project}" readonly/>
                </div>

                <div class="form-group row col-md-12">
                    <label for="projectFte" class="col-md-3">Total FTEs (%)</label>
                    <input name="projectFte" type="text" class="col-md-3 form-control" id="projectFte" th:value="*{project.ftePercentage}" th:readonly="true"/>
                    <label for="projectAssignedFte" class="col-md-3">Assigned FTEs (%)</label>
                    <input name="projectAssignedFte" type="text" class="col-md-3 form-control" id="projectAssignedFte" th:value="${selectedProjectAssignedFtes}" th:readonly="true"/>
                </div>
                <div class="form-group row col-md-12">
                    <label for="projectStartDate" class="col-md-3">Start Date</label>
                    <input name="projectStartDate" type="text" class="col-md-3 form-control" id="projectStartDate" th:value="${#dates.format(allocation.project.startDate, 'dd.MM.yyyy')}" th:readonly="true"/>
                    <label for="projectEndDate" class="col-md-3">End Date</label>
                    <input name="projectEndDate" type="text" class="col-md-3 form-control" id="projectEndDate" th:value="${#dates.format(allocation.project.endDate, 'dd.MM.yyyy')}" th:readonly="true"/>
                </div>
            </div>

            <!-- Hidden Fields to map nested objects -->
            <input type="hidden" th:field="*{project.id}">
            <input type="hidden" th:field="*{project.name}">
            <input type="hidden" th:field="*{project.startDate}">
            <input type="hidden" th:field="*{project.endDate}">
            <input type="hidden" th:field="*{project.ftePercentage}">
            <input type="hidden" th:value="*{project.projectManager}">
            <input type="hidden" th:field="*{project.projectManager.id}">
            <input type="hidden" th:field="*{project.projectManager.emailAddress}">
            <input type="hidden" th:field="*{project.projectManager.firstName}">
            <input type="hidden" th:field="*{project.projectManager.lastName}">
            <input type="hidden" th:field="*{project.projectManager.role}">

            <input type="hidden" th:field="*{contract.id}">
            <input type="hidden" th:field="*{contract.pensumPercentage}">
            <input type="hidden" th:field="*{contract.startDate}">
            <input type="hidden" th:field="*{contract.endDate}">
            <input type="hidden" th:value="*{contract.employee}">
            <input type="hidden" th:field="*{contract.employee.id}">
            <input type="hidden" th:field="*{contract.employee.emailAddress}">
            <input type="hidden" th:field="*{contract.employee.firstName}">
            <input type="hidden" th:field="*{contract.employee.lastName}">
            <input type="hidden" th:field="*{contract.employee.role}">
        </form>

        <form id="delete-form" action="#" th:action="@{/allocations/} + ${allocation.id}" th:method="delete"></form>
    </div>

    <script>
        // datepicker
        // requires jQuery
        // requires datepicker
        $(document).ready(function(){
            var startDateInput=$('input[name="startDate"]');
            var startDateOptions={
                format: 'dd.mm.yyyy',
                todayHighlight: true,
                autoclose: true
            };
            startDateInput.datepicker(startDateOptions);

            var endDateInput=$('input[name="endDate"]');
            var endDateOptions={
                format: 'dd.mm.yyyy',
                todayHighlight: true,
                autoclose: true
            };
            endDateInput.datepicker(endDateOptions);
        });

        // delete request
        function deleteRequest() {
            document.getElementById('delete-form').submit();
        }
    </script>
</section>
</body>
</html>