<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="maincontent(content, title, links, scripts)">

<head>
    <title th:text="'Timecast - ' + ${title}"></title>
    <link rel="icon" type="image/png" href="/timecast/images/favicon.png">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Application styles -->
    <link rel="stylesheet" th:href="@{/css/app.css}" />

    <th:block th:replace="${scripts}"/>
    <th:block th:replace="${links}" />
</head>

<body>
    <div th:replace="header :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="navigation :: navigation"></div>
            <div class="main-container">
                <div th:insert="${content}" class="app-content-container"></div>
                <div th:replace="footer :: footer"></div>
            </div>
        </div>
    </div>
</body>
</html>