<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div sec:authorize="isAuthenticated()" th:fragment="navigation">
    <nav class="sidebar bg-light">
        <div class="sidebar-sticky">
            <div sec:authorize="hasAuthority('ADMINISTRATOR')" >
                <h6 class="sidebar-heading px-0 mt-4">Employees</h6>
                <ul class="navbar-nav flex-column px-2">
                    <li class="nav-item">
                        <a class="nav-link h6" th:href="@{/employees}">Show Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h6" th:href="@{/employees(form)}">Create new Employee</a>
                    </li>
                </ul>
            </div>

            <div>
                <hr align="left" width="92%">
                <h6 class="sidebar-heading px-0 mt-4">Projects</h6>
                <ul class="navbar-nav flex-column px-2">
                    <li sec:authorize="hasAnyAuthority('ADMINISTRATOR', 'PROJECTMANAGER')" class="nav-item">
                        <a class="nav-link h6" th:href="@{/projects}">Show Projects</a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ADMINISTRATOR', 'PROJECTMANAGER')" class="nav-item">
                        <a class="nav-link h6" th:href="@{/projects(form)}">Create new Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h6" th:href="@{/myprojects}">My Projects</a>
                    </li>
                </ul>
            </div>

            <div sec:authorize="hasAuthority('ADMINISTRATOR')">
                <hr align="left" width="92%">
                <h6 class="sidebar-heading px-0 mt-4">Contracts</h6>
                <ul class="navbar-nav flex-column px-2">
                    <li class="nav-item">
                        <a class="nav-link h6" th:href="@{/contracts}">Show Contracts</a>
                    </li>
                </ul>
            </div>

            <div style="position: absolute; bottom: 30px;">
                <ul class="navbar-nav flex-column px-2">
                    <li class="nav-item">
                        <a class="nav-link h6" th:href="@{/about}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>