<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:unless="${permission == 'NONE'}" th:fragment="navigation">
    <nav class="sidebar bg-light">
        <div class="sidebar-sticky">
            <h6 class="sidebar-heading px-0 mt-4">Employees</h6>
            <ul class="navbar-nav flex-column px-2">
                <li th:if="${permission == 'PROJECTMANAGER' or permission =='ADMINISTRATOR'}" class="nav-item">
                    <a class="nav-link h6" th:href="@{/employees}">Show Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6" th:href="@{/employees(form)}">Create new Employee</a>
                </li>
            </ul>

            <hr align="left" width="92%">
            <h6 class="sidebar-heading px-0 mt-4">Projects</h6>
            <ul class="navbar-nav flex-column px-2">
                <li class="nav-item">
                    <a class="nav-link h6" th:href="@{/projects}">Show Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6" th:href="@{/projects(form)}">Create new Project</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>