<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navigation">
    <nav class="sidebar bg-light">
        <div class="sidebar-sticky">
            <h5 class="sidebar-heading px-0 mt-4">Users</h5>
            <ul class="navbar-nav flex-column px-2">
                <li class="nav-item">
                    <a class="nav-link h5" th:href="@{/users}">Show Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5" th:href="@{/users(form)}">Create new User</a>
                </li>
            </ul>

            <hr align="left" width="92%">
            <h5 class="sidebar-heading px-0 mt-4">Projects</h5>
            <ul class="navbar-nav flex-column px-2">
                <li class="nav-item">
                    <a class="nav-link h5" th:href="@{/projects}">Show Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5" th:href="@{/projects(form)}">Create new Project</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>