/**
Body
 */
body {
    overflow: hidden;
}

/*
Header
 */
.navbar-brand {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    font-size: 32px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    width: 300px;
}

.navbar-nav {
    padding-right: 24px;
    flex-direction: row;
}

.nav-item {
    margin-left: 40px;
}


/*
Footer
 */
.footer {
    position: absolute;
    right: 0;
    margin-right: 10px;
    bottom: 10px;
}



/*
Sidebar
 */
.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 100; /* Behind the header */
    padding-top: 72px; /* Height of header */
    padding-left: 20px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    padding-top: 20px;
    height: calc(100vh - 72px); /* Subtract height of header */
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    text-transform: uppercase;
}

.sidebar .nav-item {
    margin-left: -10px;
    padding-left: 10px;
}

.sidebar .nav-item:hover {
    color: #212529;
    background-color: rgba(0,0,0,.075);
}



/*
Content
 */
.main-container {
    margin-right: -17px; /* bootstrap container-fluid has a padding */
    width: calc(100vw - 300px); /* Subtract width of Sidebar */
    padding-top: 72px; /* Space for fixed Header */
    background-color: #f4f4f4;
}

.app-content-container {
    padding: 30px 50px 50px 50px;
    width: calc(100vw - 300px); /* Subtract width of Sidebar */
    min-width: 700px;
    height: 100%;
}

.scrollable-app-container {
    overflow: auto;
    margin-right: -50px;
    height: calc(100vh - 200px);
}

.scrollable-app-container .app-content {
    margin-right: 50px; /* Undo the margin offset from the scrollable container */
}

.app-content {
    background-color: white;
    border-radius: 5px;
    padding: 25px 25px 25px 25px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-height: 700px;
}

.app-content .form {
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    height: 100%;
}

.button-row {
    margin-top: 20px;
}

.button-row .btn {
    margin-right: 10px;
}

.col-md-5 {
    min-width: 300px;
}

.btn-default {
    background-color: #f4f4f4;
}

.btn-default:hover {
    background-color: lightgrey;
}

.vertical-line {
    border-left: thin solid #707579;
    margin-left: 40px;
    padding-left: 50px
}

a .fa {
    color: #707579;
}

a .fa:hover {
    color: #343A40;
}

.alert-success {
    margin-top: -10px;
}



/*
Input Validation
 */
input.fieldError {
    border-color: red;
}

.fieldErrorText {
    color: red;
    font-size: 12px;
}
