<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: maincontent(content=~{::section}, title='Update Project', links=~{}, scripts=~{})">
<head>
</head>
<body>
    <section>
        <h2>Show Project</h2>
        <br>

        <form class="app-content" th:action="@{/projects} + '/' + ${project.id}" th:object="${project}" th:method="put">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:readonly="true"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="ftePercentage">FTE Percentage</label>
                    <input type="text" class="form-control" id="ftePercentage" th:field="*{ftePercentage}" th:readonly="true"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="startDate">Start Date</label>
                    <input type="text" class="form-control" id="startDate" th:field="*{startDate}" th:readonly="true"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="endDate">End Date</label>
                    <input type="text" class="form-control" id="endDate" th:field="*{endDate}" th:readonly="true"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="projectManager">Project Manager</label>
                    <input type="text" class="form-control" id="projectManager" th:field="*{projectManager}" th:readonly="true"/>
                </div>
            </div>

            <div class="form-row button-row">
                <a class="btn btn-default" th:href="@{/projects}">Back</a>
            </div>
        </form>
    </section>
</body>
</html>
