<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: maincontent(content=~{::section}, title='Create new Project', links=~{})">

<head>
    <!-- Put additional style links here -->
</head>

<body>
<section>
    <h2>Create new Allocation</h2>
    <br>

    <form th:action="@{/allocations}" th:object="${allocation}" method="post">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="contractId">Contract Id</label>
                <input type="text" class="form-control" id="contractId" th:field="*{contractId}" th:errorclas="fieldError" autofocus/>
                <span th:if="${#fields.hasErrors('contractId')}" th:errors="*{contractId}" class="fieldErrorText"></span>
            </div>

            <div class="form-group col-md-1"><!-- spacing --></div>

            <div class="form-group col-md-5">
                <label for="projectId">Project Id</label>
                <input type="text" class="form-control" id="projectId" th:field="*{projectId}" th:errorclas="fieldError"/>
                <span th:if="${#fields.hasErrors('projectId')}" th:errors="*{projectId}" class="fieldErrorText"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="startDate">Start Date</label>
                <input type="text" class="form-control" id="startDate" th:field="*{startDate}" th:errorclas="fieldError"/>
                <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="fieldErrorText"></span>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="endDate">End Date</label>
                <input type="text" class="form-control" id="endDate" th:field="*{endDate}" th:errorclas="fieldError"/>
                <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="fieldErrorText"></span>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="pensum">Pensum Percentage</label>
                <input type="text" class="form-control" id="pensum" th:field="*{pensumPercentage}" th:errorclas="fieldError"/>
                <span th:if="${#fields.hasErrors('pensumPercentage')}" th:errors="*{pensumPercentage}" class="fieldErrorText"></span>
            </div>
        </div>

        <div class="form-row">
            <a class="btn btn-default" th:href="@{/allocations}">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</section>
</body>

</html>